html {
    background: #e3e3e3;
}

body {
   font-family: Arial, Helvetica, sans-serif; 
   margin: 45px;
   padding: 45px;
   color: rgb(73, 80, 36);
   border-top: 10px solid #556235 ;
   background: #fff ;
}

h1 {
font-size: 3cm;
margin: 0;
}

p {
line-height: 1.4cm;
}

#blog {
border-top: 1px dotted #ccc;
}

.blog-post {
border-bottom: 1px dotted #ccc;
}

img[alt] {
    border: 2px solid cyan;
}

